// Colors
$clr1: #E6E6E6;
$clr2: #3772FF;
$clr3: #DBDBDB;


// Breakpoints
$mobile-breakpoint: 375px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 1300px;

//Border-Radius
$brd: 2px;
$brd-up: 2px 2px 0 0;
$brd-down: 0 0 2px 2px;